@tailwind base;
@tailwind components;
@tailwind utilities;


.paste-button {
    position: relative;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .button {
    color: black;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    display: flex;
    gap: 200px;
    justify-content: space-around;
  }
  
  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #ff0000;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    color: #ff0000;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  
  .dropdown-content a:hover {
    background-color: #ff0000;
    color: #ffffff;
  }
  
  .dropdown-content a:focus {
    background-color: #ffffff;
    color: #ff0000;
  }
  
  .dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
  }
  
  .dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
  }
  
  .paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .paste-button:hover .dropdown-content {
    display: block;
  }
  











.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 17px;
  color: #4a4a4a;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #696969;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #991111, #ef3838);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #ef3838;
  font-weight: 700;
}


.form__field:required, .form__field:invalid {
  box-shadow: none;
}


.button1{
  color: black;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 350px;
  height: 50px;
  display: flex;
  gap: 200px;
  justify-content: space-around;
}








.ha{
  color: rgb(157, 157, 157);
  font-size: 30px;

}
.ha:hover{
  color: red;
}




.input {
  background-color: white;
  width: 400px;
  height: 50px;
  padding: 10px;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 10px;
}

.input:focus {
  color: rgb(255, 0, 0);
  background-color: white;
  outline-color: rgb(255, 0, 0);
}







.card-c {
  perspective: 800px;
}
.ca {
  position: relative;
  width: 500px;
  height: 300px;
  background: #fffffd;
  border-radius: 20px;
  box-shadow: 0 0 6px -4px black;
  transition: 0.75s all;
  transform-style: preserve-3d;
  pointer-events: none;
  user-select: none;
}



.card-c:hover .ca {
  transform: rotateY(180deg);
}

.ba {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background: #ff0000;
  overflow: hidden;
}



.fr {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: #f0f0f0;
  width: 500px;
  height: 300px;
  overflow: hidden;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.lg{
  filter: drop-shadow(0px 0px 2px #ffffff);
}